div{
    margin: 5em auto;
    max-width: 40em;
    font-family: 'Times New Roman', Times, serif;
}

p:first-of-type{
    text-indent: 0;
}

p:first-of-type::first-letter {
    color: burgundy;
    padding: 0.2rem;
    font-size: 5.5em;
    float: left;
    line-height: 0.7;
}

p{
    display: block;
    margin-bottom: 1em;
    text-indent: 1.5em;
    line-height: 1.5;
    text-align: justify;

}

emph{
    font-style: italic;
}

foreign{
    font-style: italic;
}

title{
    font-style: italic;
}

header{
    display: block;
    margin-bottom: 2em;
    text-align: center;
    letter-spacing: .05ch;
    font-weight: bold;
    color: maroon
}